body {
    overflow: hidden; /* Prevent page scroll */
}

.title {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.result-container {
    max-height: calc(100vh - 6rem);
    overflow-y: auto;
    position: relative;
}
